body {
    color: #f7f7f7;
}

.jumbotron {
    background-image: url("C:\Users\jkova\OneDrive\Documents\UFO-sightings\UFO's\static\images");
    background-size: 100% 100%;
    text-align: center;
  }
